# MongoDB Connection
MONGODB_URI=mongodb+srv://your-username:your-password@your-cluster.mongodb.net
DB_NAME=request_finance

# Replace the MONGODB_URI with your actual MongoDB Atlas connection string
# Format: mongodb+srv://username:password@cluster.mongodb.net 